.tituloPrincipal {
    color: #007bff;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

.pessoa-table {
    overflow-x: auto;
    max-height: 90vh;
    width: auto;
    max-width: 100%;
}

.div-table-pessoas {
    overflow-x: auto;
    height: 90vh;
    width: auto;
    max-width: 100%;
}

.ui-widget-overlay {
    background-color: #000000 !important; /* Cor do fundo */
    opacity: 0.7 !important; /* Opacidade */
}
.ui-dialog {
    z-index: 10000 !important;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Afasta os elementos para os lados opostos */
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-container-dialog {
    display: flex;
    justify-content: flex-end; /* Afasta os elementos para os lados opostos */
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ui-selectonemenu-panel, .ui-datepicker {
    z-index: 10000 !important;
}
.edit-pessoa-dialog .ui-selectonemenu-panel, .edit-pessoa-dialog .ui-datepicker {
    z-index: 10000 !important;
}
